/* NAVBAR */
#navbar {
    min-height: 60px;
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.searchBar {
	padding-left: 20%;
	width: 70%;
}
.searchFormGroup {
	width: 70%;
}
.input {
	width: 100% !important;
}
.navbar-logo {
    float: left;
    height: 50px;
    padding-top: 20px;
    line-height: 20px;
    width: 130px;
    position: absolute;
    z-index: 10000;
    padding-left: 0px;
	font-size: 26px;
}