/* HOME */

.description {
	margin-top: 9%;
	padding-right: 18px;
	padding-left: 31%;
	text-align: center;
	float: left;
}

.title {
	color: white;
	font-size: 30px;
	margin-bottom: 1%;
	text-shadow: 2px -1px 1px #81a8ac;
}

.subtitle {
	color: white;
	opacity: 0.8;
	font-size: 20px;
	margin-bottom: 1%;
}