/* SIDEBAR */

#sidebar {
	position: relative;
	float: left;
	color: #bcc8d2;
	width: 20%;
	font-size: 12px;
}

.sidebar-title {
	font-size: 14px;
}

.sidebar-element {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sidebar-element a {
	text-decoration: underline;
	color: #bcc8d2;
}